@import "bourbon"
@import "../bower_components/foundation/scss/foundation/components/grid"


$purple : #474398
$orange : #f15b29
$yellow : #ffb033
$navy: #24234b
$black : #121125



html,
body 
    width: 100%
    height: 100%
    font-family: 'proxima_nova_rgregular', Helvetica, Arial, "Lucida Grande", sans-serif
    
html, body, h1, h2, h3, h4, h5, h6, p, section, div
    padding: 0
    margin: 0
    
.header
    position: fixed
    top: 0
    width: 100%
    z-index: 999999999
    background-color: rgba(255,255,255,.75)
    
    #logo
        background-image:url(../img/fm-logo.png)
        background-repeat: no-repeat
        background-position: center center
        height: 70px
        width: 400px
        
        
    
.container
    width: 91%
    display: block
    margin: 0 auto
    position: relative
    top: 50%
    @include transform(translateY(-50%))

section
    position: fixed
    top: 160px
    bottom: 0
    right: 0
    left: 0
    height: 100vh
    margin: 0
    padding: 42px 14px
    z-index: 1
    
    
    h2
        font-size: 2.6em
        text-align: center
        
    p
        font-size: 1.4em
        
    .section-title
        
        
    .run
        margin-top: 3.6em
        
        .run-line
            background-image: url(../img/track.png)
            background-repeat: no-repeat
            background-position: center center
            
            .running-man
                position: relative
                @include animation(running 800ms steps(3) infinite)
                height: 100px
                width: 80px

        

    @include keyframes(pulse)
        0%
            @include transform(scale(1))

        50%
            @include transform(scale(1.2))

        100%
            @include transform(scale(1))
        
        
        
    .arrow-nav
        text-align: center
        position: absolute
        bottom: 18px
        left: 50%
        @include animation(pulse 1.2s ease-in-out infinite)
        

    
.light
    background-color: $orange
    
    h2
        color: $purple
        
    p
        color: #fff
        
    .ingredients
        background-color: $purple
        font-size: .6em
        padding: 8px
        border-radius: 6px
        color: #fff
        max-width: 250px
        overflow: auto
        display: block
        margin: 0 auto
            
    .run-line


        .running-man
            background-image: url('../img/run-sprite-dark.png')
            
    a:link, a:visited
        color: $purple


.dark
    background-color: $purple
    
    h2
        color: $orange
    p
        color: #fff

        
        
    .ingredients
        background-color: $orange
        font-size: .6em
        padding: 8px
        border-radius: 6px
        max-width: 250px
        overflow: auto
        display: block
        margin: 0 auto
        

            
    .run-line


        .running-man
            background-image: url('../img/run-sprite-light.png')
            
            
        
            
    a:link, a:visited
        color: $orange


            
            
@include keyframes (running)
    0%  
        background-position: center left
    100%
        background-position: center right
    

            
        
        
#home 
    background: #fff
    z-index: 10
    margin: 0
    padding: 0
        
    #home-content
        text-align: center
        position: relative
        
        
    #ribbon  
        background:#484697                
        display:inline-block
        padding:14px 30px 
        font-size:30px
        position:relative
        margin: 0 auto 60px 
        color:#fff
        text-align: center
    
    #ribbon:before
        content:""
        position:absolute
        border-width:28px 35px 28px 25px
        border-style:solid
        border-color:#24234b
        border-left-color:transparent
        border-right-color:#121125
        width:22px
        top:27px
        left:-47px
        z-index:-1
    
    #ribbon:after
        content:""
        width:22px
        height:0
        position:absolute
        border-style:solid
        border-color:#24234b
        border-width:28px 25px 28px 35px
        border-right-color:transparent
        border-left-color:#121125
        top:27px
        right:-47px
        z-index:-1
        
    .arrow-nav
        @include animation(pulse 1.2s ease-in-out infinite)
            
    @include keyframes(pulse)
        0%
            @include transform(scale(1))
                
        50%
            @include transform(scale(1.2))
        
        100%
            @include transform(scale(1))
        
        
#cereal 

    z-index:9

#coffee 

    z-index:8

#smoothie 
    z-index:7

#salads 
    z-index:6

#frozen 
    z-index:5

#last 
    z-index:4
    
    .arrow-nav
        @include transform(rotate(180deg))

    #footer 

        height: 70px
        padding: 10px
        bottom: 20px
        //position: absolute

        img 
            float: left